{% extends '!layout.html' %}
{% block footer %} 

<div class="footer">
	<a href="http://www.thermofisher.com/">© 2015 Thermo Fisher Scientific Inc</a>. All rights reserved.<br>
	The trademarks mentioned herein are the property of Life Technologies Corporation or their respective owners.<br>
	For Research Use Only. Not intended for any animal or human therapeutic or diagnostic use.<br>
</div>
<style>
    .custom-table{
        font-size: 9px;
        word-break: break-all;
    }
</style>

{% endblock %}
